.App {
  text-align: center;
  font-family: FontPat;
}

.App-logo {
  height: 10vmin;

  /*animation: App-logo-spin infinite 20s linear;*/
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: FontPat;
  src: url('../public/Pat3-Regular.ttf');
}

.App-header {
  background-color: #263650;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: #FFF9D1;
}
.App-nav-tab{
  float: left;
}
nav ul li{
  text-align: left;
}

.About-img{
  height: 100vmin;
}

a{
  text-decoration: none;
  color:#FFF9D1;
}
/*@media screen and (max-width: 600px) {
  
}*/
/*.App-link {
  color: #61dafb;
  #490013 #ABB2C5
}*/
