.App-logo {
  height: 10vmin;
  animation: App-logo-spin infinite 20s linear;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*Nav.js*/
.App-header {
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-evenly;
  font-size: calc(12px + 2vmin);
}
h1 a:hover{
  text-decoration: none;
}
.App-nav-tab{
  position: absolute;
  border-radius: 20px;
  left:64.5%;
  background-color: var(--primary-text-color);
}
nav ul li{
  text-align: left;
  list-style-image: url(../public/icons/Icon2.svg);
  margin: 10px;
}
nav ul li a{
  color: var(--primary-bg);
}
/*About.js*/
.About{
  padding:50px 0;
}
.About-img{
  border-radius: 20px;
  margin: 20px;
}
.App-About{
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content:center;
  padding: 40px;
}
.App-About p{
  text-align: left;
  padding: 20px;
}
.App-footer{
  padding:20px;
}
.App-footer a{
  padding:20px;
  width: 100%;
  font-size: 36px;
}

.Certificates-text, .Projects-text{
  margin: 0 20vw;
}
h2{
  padding: 20px;
}
img{
  max-height: 50vmin;
}
a:hover{
  text-decoration: underline wavy var(--primary-text-color) 1px;
}
/*@media screen and (max-width: 600px) {
  
}*/
/*.App-link {
  color: #61dafb;
  #490013 #ABB2C5
}*/

