.App-logo {
  height: 10vmin;
  /*animation: App-logo-spin infinite 20s linear;
  */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*Nav.js*/
.App-header {
  background-color:var(--primary-text-color);
  color:var(--primary-bg);
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-evenly;
  font-size: calc(12px + 2vmin);
}
h1 a{
  color: var(--primary-bg);
}
.App-nav-tab{
  position: absolute;
  background-color: var(--primary-bg);
  border-radius: 20px;
  left:65%;
  /*border: 1px solid var(--primary-text-color);*/
}
nav ul li{
  text-align: left;
  list-style-image: url(../public/icons/Icon2.svg);
  margin: 10px;
 /*list-style-type: none;
  padding: 10px 30px;
  background-image: url(../public/icons/Icon2.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 25px;*/
}
nav ul li a{
  color: var(--primary-text-color);
}
/*About.js*/
.About{
  padding:50px 0;
}
.About-img{
  border-radius: 20px;
  margin: 20px;
}
.App-About{
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content:center;
  padding: 50px;
}
.App-About p{
  text-align: left;
  padding: 20px;
}
.App-footer{
  padding:20px;
  background-color: var(--primary-text-color);
}
.App-footer a{
  padding:20px;
  width: 100%;
  font-size: 36px;
  color:var(--primary-bg);
}
.App-footer a:hover{
  text-decoration-color: var(--primary-bg);
  /*background-image: url(../public/icons/Icon3.svg);
*/
  }

img{
  max-height: 50vmin;
}
/*@media screen and (max-width: 600px) {
  
}*/
/*.App-link {
  color: #61dafb;
  #490013 #ABB2C5
}*/
a:hover{
  text-decoration: underline wavy var(--primary-text-color) 1px;
}
