body {
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: var(--primary-bg);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, FontPat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --primary-text-color: #FFF9D1;
  --primary-bg: #1E365C; /*#490013*/
  --secondary-text-color: #714E3A;
}

@font-face {
  font-family: FontPat;
  src: url('../public/Pat3-Regular.ttf');
}
* {
  text-align: center;
  font-family: FontPat;
  color: var(--primary-text-color);
}

h2{
  font-size: 40px;
}
h3{
  font-size: 32px;
}
p{
  font-size: 32px;
}
a{
  text-decoration: none;
}